.dark-theme {
          --theme-bg-surface: #292c43;
  --theme-bg-subtle: #35384C;
  --theme-bg-subtle-2x: #292c43;
  --theme-bg-muted: #35384C;
  --theme-bg-muted-hover: #667085;
  --theme-bg-disabled: #292c43;
  --theme-bg-canvas: #475467;
  --theme-bg-field: #35384C;
  --theme-accent-disabled: #d1e0ff;
  --theme-accent-default: #528bff;
  --theme-accent-subtle: #eff4ff;
  --theme-accent-subtle-2x: #d1e0ff;
  --theme-accent-muted: #84adff;
  --theme-accent-emphasis: #155eef;
  --theme-accent-on-accent: #ffffff;
  --theme-fg-default: #171721;
  --theme-fg-placeholder: #667085;
  --theme-fg-muted: #eaecf0;
  --theme-fg-subtle: #b3b8db;
  --theme-fg-subtle-2x: #b3b8db;
  --theme-fg-subtle-3x: #8e8fa3;
  --theme-fg-on-disabled: #d0d5dd;
  --theme-fg-disabled: #344054;
  --theme-fg-strong: #d5d9eb;
  --theme-fg-strongest: #ffffff;
  --theme-warning-default: #dc6803;
  --theme-warning-subtle: #fef0c7;
  --theme-warning-muted: #fec84b;
  --theme-warning-emphasis: #f79009;
  --theme-warning-on-warning: #b54708;
  --theme-info-default: #8098f9;
  --theme-info-subtle: #e0eaff;
  --theme-info-subtle-2x: #ffffff00;
  --theme-info-muted: #a4bcfd;
  --theme-info-emphasis: #528bff;
  --theme-info-emphasis-secondary: #6172f3;
  --theme-info-emphasis-hover: #84adff;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #d92d20;
  --theme-error-subtle: #fee4e2;
  --theme-error-subtle-2x: #fef3f2;
  --theme-error-muted: #f97066;
  --theme-error-emphasis: #f04438;
  --theme-error-hover: #b42318;
  --theme-error-disabled: #fecdca;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #12b76a;
  --theme-success-subtle: #203828;
  --theme-success-subtle-2x: #efefef;
  --theme-success-muted: #054f31;
  --theme-success-emphasis: #32d583;
  --theme-success-on-success: #ffffff;
  --theme-success-on-success-mono: #027a48;
  --theme-input-background: #ffffff;
  --theme-input-text: #171721;
  --theme-input-placeholder: #667085;
  --theme-input-border-default: #667085;
  --theme-input-border-strong: #98a2b3;
  --theme-input-border-strong-2x: #eaecf0;
  --theme-input-border-subtle-1x: #344054;
  --theme-input-border-subtle-2x: #475467;
  --theme-input-border-alert-1: #22ccee;
  --theme-input-border-disabled: #344054;
  --theme-input-border-focused: #8983f840;
  --theme-input-fg-disabled: #d0d5dd;
  --theme-border-default: #35384C;
  --shadow-xs: [object Object];
  --shadow-sm: [object Object];
  --shadow-md: [object Object];
  --shadow-lg: [object Object];
  --shadow-xl: [object Object];
  --shadow-2xl: [object Object];
  --shadow-3xl: [object Object];
  --shadow-xs-focused-4px-primary-100: [object Object];
  --shadow-on-dark-xs: [object Object];
  --shadow-on-dark-sm: [object Object];
  --shadow-on-dark-md: [object Object];
  --shadow-on-dark-lg: [object Object];
  --shadow-on-dark-xl: [object Object];
  --shadow-on-dark-2xl: [object Object];
  --shadow-on-dark-3xl: [object Object];
  --shadow-on-light-3xl: [object Object];
  --shadow-on-light-2xl: [object Object];
  --shadow-on-light-xl: [object Object],[object Object];
  --shadow-on-light-lg: [object Object],[object Object];
  --shadow-on-light-md: [object Object],[object Object];
  --shadow-on-light-sm: [object Object],[object Object];
  --shadow-on-light-xs: [object Object];
  --shadow-focused-default: [object Object];
  --shadow-focused-error: [object Object],[object Object];
  --shadow-focused-gray: [object Object],[object Object];
  --shadow-focused-success: [object Object],[object Object];
  --divider-on-light-right: [object Object];
  --divider-on-light-top: [object Object];
  --divider-on-light-bottom: [object Object];
  --divider-on-dark-top: [object Object];
  --divider-on-dark-right: [object Object];
  --divider-on-dark-bottom: [object Object];
  --divider-on-dark-bottom-inner: [object Object];
  --bar-primary-selected: [object Object];
  --selected-item-primary: [object Object];
  --selected-item-white: [object Object];
  --selected-item-orange: [object Object];
  --selected-item-blood-orange: [object Object];
      }