.global-theme {
          --without-fill: #ffffff00;
  --white: #ffffff;
  --no-fill: #ffffff00;
  --white-50-percent: #ffffff80;
  --brand-midnight: #0c2854;
  --brand-dark-blue: #0f172a;
  --primary-25: #f5f8ff;
  --primary-50: #eff4ff;
  --primary-100: #d1e0ff;
  --primary-200: #b2ccff;
  --primary-300: #84adff;
  --primary-400: #528bff;
  --primary-500: #2970ff;
  --primary-600: #155eef;
  --primary-700: #004eeb;
  --primary-800: #0040c1;
  --primary-900: #00359e;
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #171721;
  --gray-900: #171721;
  --gray-soft-on-light: #f5f5fab3;
  --gray-soft-on-dark: #35384C;
  --gray-outline-on-light: #d6d6d6d9;
  --gray-ouline-on-dark: #e4e6e826;
  --gray-divider-on-dark: #3e4152;
  --gray-outline-on-soft-on-dark: #e4e6e880;
  --gray-hover-on-dark: #272b46;
  --gray-hover-on-light: #f5f5fa;
  --gray-blue-25: #fbfbff;
  --gray-blue-50: #f8f9fc;
  --gray-blue-100: #eaecf5;
  --gray-blue-200: #d5d9eb;
  --gray-blue-300: #b3b8db;
  --gray-blue-400: #8e8fa3;
  --gray-blue-500: #8083a3;
  --gray-blue-600: #6c6f8f;
  --gray-blue-700: #344054;
  --gray-blue-800: #292c43;
  --gray-blue-900: #212437;
  --gray-cool-25: #fbfbfd;
  --gray-cool-50: #f9fafb;
  --gray-cool-100: #eff1f5;
  --gray-cool-200: #dcdfea;
  --gray-cool-300: #d1d5db;
  --gray-cool-400: #7d89b0;
  --gray-iron-50: #fafafa;
  --gray-iron-200: #e4e4e7;
  --gray-neutral-300: #d2d6db;
  --success-teal-50: #f0fdf9;
  --success-teal-400: #2ed3b7;
  --success-teal-600: #0e9384;
  --orange-100: #fdead7;
  --orange-400: #f38744;
  --orange-500: #ef6820;
  --rose-100: #ffe4e8;
  --rose-300: #fea3b4;
  --cyan-25: #f5feff;
  --cyan-50: #ecfdff;
  --cyan-100: #cff9fe;
  --cyan-200: #a5f0fc;
  --cyan-300: #67e3f9;
  --cyan-400: #22ccee;
  --cyan-500: #06aed4;
  --cyan-600: #088ab2;
  --cyan-700: #0e7090;
  --cyan-800: #155b75;
  --cyan-900: #164c63;
  --blue-50: #eff8ff;
  --blue-200: #b2ddff;
  --blue-400: #53b1fd;
  --blue-600: #1570ef;
  --blue-700: #175cd3;
  --blue-dark-25: #f5f8ff;
  --blue-dark-50: #eff4ff;
  --blue-dark-100: #d1e0ff;
  --blue-dark-200: #b2ccff;
  --blue-dark-300: #84adff;
  --blue-dark-400: #528bff;
  --blue-dark-500: #2970ff;
  --blue-dark-600: #155eef;
  --blue-dark-700: #004eeb;
  --blue-dark-800: #0040c1;
  --blue-dark-900: #00359e;
  --indigo-25: #f5f8ff;
  --indigo-50: #eef4ff;
  --indigo-100: #e0eaff;
  --indigo-200: #c7d7fe;
  --indigo-300: #a4bcfd;
  --indigo-400: #8098f9;
  --indigo-500: #6172f3;
  --indigo-600: #444ce7;
  --indigo-700: #3538cd;
  --indigo-800: #2d31a6;
  --indigo-900: #2d3282;
  --moss-200: #ceeab0;
  --teal-100: #ccfbef;
  --teal-200: #99f6e0;
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --orange-dark-25: #fff9f5;
  --orange-dark-50: #fff4ed;
  --orange-dark-100: #ffe6d5;
  --orange-dark-200: #ffd6ae;
  --orange-dark-300: #ff9c66;
  --orange-dark-400: #ff692e;
  --orange-dark-500: #ff4405;
  --orange-dark-600: #e62e05;
  --orange-dark-700: #bc1b06;
  --orange-dark-800: #97180c;
  --orange-dark-900: #771a0d;
  --amber-100: #fef3c7;
  --amber-600: #d97706;
  --dialer-gradient-button-primary: linear-gradient(110deg, #045cfc 0%, #4586fd 100%);
  --0px-sudden-shadow: [object Object],[object Object];
  --shadow-base: [object Object];
  --hover-effect-primary: [object Object];
  --divider-on-light-right: [object Object];
  --divider-on-light-top: [object Object];
  --divider-on-light-bottom: [object Object];
  --divider-on-dark-top: [object Object];
  --divider-on-dark-right: [object Object];
  --divider-on-dark-bottom: [object Object];
  --divider-on-dark-bottom-inner: [object Object];
  --shadows-old-on-light-4px: [object Object];
  --shadows-old-on-light-8px: [object Object];
  --shadows-old-on-light-12px: [object Object];
  --shadows-old-on-light-16px: [object Object];
  --shadows-old-on-light-20px: [object Object];
  --shadows-old-on-light-6px: [object Object];
  --shadows-old-on-light-15px: [object Object];
  --shadows-old-on-dark-6px: [object Object];
  --shadows-old-on-dark-15px: [object Object];
  --shadow-on-dark-xs: [object Object];
  --shadow-on-dark-sm: [object Object];
  --shadow-on-dark-md: [object Object];
  --shadow-on-dark-lg: [object Object];
  --shadow-on-dark-xl: [object Object];
  --shadow-on-dark-2xl: [object Object];
  --shadow-on-dark-3xl: [object Object];
  --shadow-on-light-xs: [object Object];
  --shadow-on-light-sm: [object Object],[object Object];
  --shadow-on-light-md: [object Object],[object Object];
  --shadow-on-light-lg: [object Object],[object Object];
  --shadow-on-light-xl: [object Object],[object Object];
  --shadow-on-light-2xl: [object Object];
  --shadow-on-light-3xl: [object Object];
  --shadow-focused-xs-focused-4px-primary-100: [object Object],[object Object];
  --shadow-focused-xs-focused-4px-grey-100: [object Object],[object Object];
  --shadow-focused-xs-focused-4px-error-100: [object Object],[object Object];
  --shadow-focused-sm-focused-4px-primary-100: [object Object],[object Object],[object Object];
  --shadow-focused-sm-focused-4px-grey-100: [object Object],[object Object],[object Object];
  --shadow-xs-focused-4px-primary-100: [object Object];
  --bar-primary-selected: [object Object];
  --selected-item-primary: [object Object];
  --selected-item-white: [object Object];
  --selected-item-orange: [object Object];
  --selected-item-blood-orange: [object Object];
  --font-families-avenir-next: Avenir Next;
  --font-families-inter: Inter;
  --line-heights-0: 18;
  --line-heights-1: 24;
  --line-heights-2: 21;
  --line-heights-3: 48;
  --line-heights-4: 36;
  --line-heights-5: 32;
  --line-heights-6: 27;
  --line-heights-7: 90;
  --line-heights-8: 72;
  --line-heights-9: 60;
  --line-heights-10: 44;
  --line-heights-11: 38;
  --line-heights-12: 30;
  --line-heights-13: 28;
  --line-heights-14: 20;
  --font-weights-avenir-next-0: Bold;
  --font-weights-inter-1: Bold;
  --font-weights-avenir-next-2: Ultra Light;
  --font-weights-avenir-next-3: Regular;
  --font-weights-inter-4: Regular;
  --font-weights-inter-5: Medium;
  --font-weights-inter-6: Semi Bold;
  --font-weights-inter-7: Medium Italic;
  --font-weights-inter-0: Bold;
  --font-weights-avenir-next-1: Bold;
  --font-size-0: 9;
  --font-size-1: 10;
  --font-size-2: 12;
  --font-size-3: 14;
  --font-size-4: 16;
  --font-size-5: 18;
  --font-size-6: 20;
  --font-size-7: 22;
  --font-size-8: 24;
  --font-size-9: 28;
  --font-size-10: 30;
  --font-size-11: 36;
  --font-size-12: 48;
  --font-size-13: 60;
  --font-size-14: 72;
  --letter-spacing-0: 0;
  --letter-spacing-1: -0.25;
  --letter-spacing-2: -2;
  --letter-spacing-3: -1.5;
  --letter-spacing-4: -0.2;
  --letter-spacing-5: -1;
  --letter-spacing-6: -0.5;
  --letter-spacing-7: -2%;
  --letter-spacing-8: 0%;
  --letter-spacing-9: -2.5;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 1;
  --paragraph-spacing-2: 12;
  --paragraph-spacing-3: 14;
  --paragraph-spacing-4: 16;
  --paragraph-spacing-5: 18;
  --paragraph-spacing-6: 20;
  --paragraph-spacing-7: 24;
  --paragraph-spacing-8: 28;
  --paragraph-spacing-9: 30;
  --paragraph-spacing-10: 32;
  --paragraph-spacing-11: 36;
  --paragraph-spacing-12: 38;
  --paragraph-spacing-13: 48;
  --paragraph-spacing-14: 60;
  --paragraph-spacing-15: 72;
  --display-2xl-regular: [object Object];
  --display-2xl-medium: [object Object];
  --display-2xl-semibold: [object Object];
  --display-2xl-bold: [object Object];
  --display-xl-normal: [object Object];
  --display-xl-medium: [object Object];
  --display-xl-semibold: [object Object];
  --display-xl-bold: [object Object];
  --display-lg-normal: [object Object];
  --display-lg-medium: [object Object];
  --display-lg-semibold: [object Object];
  --display-lg-bold: [object Object];
  --display-md-normal: [object Object];
  --display-md-medium: [object Object];
  --display-md-semibold: [object Object];
  --display-md-bold: [object Object];
  --display-sm-normal: [object Object];
  --display-sm-medium: [object Object];
  --display-sm-semibold: [object Object];
  --display-sm-bold: [object Object];
  --display-sm-medium-italic: [object Object];
  --display-sm-bold-koncert: [object Object];
  --display-xs-normal: [object Object];
  --display-xs-medium: [object Object];
  --display-xs-semibold: [object Object];
  --display-xs-bold: [object Object];
  --display-xs-medium-italic: [object Object];
  --text-xl-normal: [object Object];
  --text-xl-medium: [object Object];
  --text-xl-semibold: [object Object];
  --text-xl-bold: [object Object];
  --text-xl-medium-italic: [object Object];
  --text-xl-normal-underlined: [object Object];
  --text-lg-normal: [object Object];
  --text-lg-semibold: [object Object];
  --text-lg-medium: [object Object];
  --text-lg-bold: [object Object];
  --text-lg-medium-italic: [object Object];
  --text-lg-medium-underlined: [object Object];
  --text-md-normal: [object Object];
  --text-md-normal-uppercase: [object Object];
  --text-md-medium: [object Object];
  --text-md-semibold: [object Object];
  --text-md-bold: [object Object];
  --text-md-medium-italic: [object Object];
  --text-md-normal-underlined: [object Object];
  --text-md-medium-underlined: [object Object];
  --text-sm-normal: [object Object];
  --text-sm-medium: [object Object];
  --text-sm-semibold: [object Object];
  --text-sm-bold: [object Object];
  --text-sm-normal-underlined: [object Object];
  --text-sm-semi-bold-mini-chip: [object Object];
  --text-xs-normal: [object Object];
  --text-xs-medium: [object Object];
  --text-xs-semibold: [object Object];
  --text-xs-bold: [object Object];
  --text-xxs-semibold: [object Object];
  --text-case-uppercase: uppercase;
  --text-case-none: none;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --brand-midnight: #0c2854;
  --brand-dark-cobalt-blue: #0c1b37;
  --brand-dark-blue: #0f172a;
  --brand-sunset: #f15b28;
  --brand-blood-orange-gradient: linear-gradient(180deg, #f15b28 0%, #fbab44 100%);
  --brand-blood-orange-light: #f6c46a;
  --brand-blood-orange-dark: #f5884d;
  --brand-turquoise-light: #33e8c5;
  --brand-turquoise-dark: #21bffe;
  --brand-pursian-light: #96a1ff;
  --brand-persian-blue-dark: #4e4efb;
  --brand-persian-blue: #5b45e0;
  --brand-baltic-light: #67c4ff;
  --brand-baltic-dark: #1f90ff;
  --brand-dialers-item-accent: linear-gradient(90deg, #f5884d 0%, #f6c46a 100%);
  --gradient-blue-left-to-right: linear-gradient(110deg, #045cfc 0%, #4586fd 100%);
  --gradient-orange-left-to-right: linear-gradient(110deg, #fc4004 0%, #fd9245 100%);
  --gradient-orange-left-to-right-hover: linear-gradient(110deg, #fc4004 0%, #fd9245 100%);
  --text-micro: [object Object];
  --text-xsm-uppercase-buttons: [object Object];
  --paragraph-indent-0: 0px;
      }