.light-theme {
          --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #f9fafb;
  --theme-bg-subtle-2x: #fcfcfd;
  --theme-bg-muted: #f8f9fc;
  --theme-bg-muted-hover: #f2f4f7;
  --theme-bg-disabled: #fcfcfd;
  --theme-bg-canvas: #f2f4f7;
  --theme-bg-field: #ffffff;
  --theme-accent-disabled: #d1e0ff;
  --theme-accent-default: #528bff;
  --theme-accent-subtle: #eff4ff;
  --theme-accent-subtle-2x: #d1e0ff;
  --theme-accent-muted: #84adff;
  --theme-accent-emphasis: #155eef;
  --theme-accent-on-accent: #ffffff;
  --theme-fg-default: #ffffff;
  --theme-fg-placeholder: #d0d5dd;
  --theme-fg-muted: #6c6f8f;
  --theme-fg-subtle: #6c6f8f;
  --theme-fg-subtle-2x: #667085;
  --theme-fg-subtle-3x: #8083a3;
  --theme-fg-on-disabled: #475467;
  --theme-fg-disabled: #eaecf0;
  --theme-fg-strong: #344054;
  --theme-fg-strongest: #171721;
  --theme-warning-default: #dc6803;
  --theme-warning-subtle: #fef0c7;
  --theme-warning-muted: #fec84b;
  --theme-warning-emphasis: #f79009;
  --theme-warning-on-warning: #b54708;
  --theme-info-default: #8098f9;
  --theme-info-subtle: #e0eaff;
  --theme-info-muted: #a4bcfd;
  --theme-info-emphasis: #4e4efb;
  --theme-info-emphasis-secondary: #4e4efb;
  --theme-info-emphasis-hover: #5b45e0;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #d92d20;
  --theme-error-subtle: #fee4e2;
  --theme-error-muted: #f97066;
  --theme-error-emphasis: #f04438;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #12b76a;
  --theme-success-subtle: #ecfdf3;
  --theme-success-muted: #a6f4c5;
  --theme-success-emphasis: #32d583;
  --theme-success-on-success: #ffffff;
  --theme-input-background: #ffffff;
  --theme-input-text: #171721;
  --theme-input-placeholder: #667085;
  --theme-input-border-default: #d0d5dd;
  --theme-input-border-strong: #98a2b3;
  --theme-input-border-subtle-1x: #f2f4f7;
  --theme-input-border-subtle-2x: #eaecf0;
  --theme-input-border-disabled: #f2f4f7;
  --theme-input-border-focused: #ebefff;
  --theme-input-fg-disabled: #d0d5dd;
  --theme-border-default: #f2f4f7;
  --shadow-xs: [object Object];
  --shadow-sm: [object Object],[object Object];
  --shadow-md: [object Object],[object Object];
  --shadow-lg: [object Object],[object Object];
  --shadow-xl: [object Object],[object Object];
  --shadow-2xl: [object Object];
  --shadow-3xl: [object Object];
  --shadow-focused-default: [object Object],[object Object];
  --shadow-focused-error: [object Object],[object Object];
  --shadow-focused-success: [object Object],[object Object];
  --shadow-focused-gray: [object Object],[object Object];
  --bar-primary-selected: [object Object];
  --selected-item-primary: [object Object];
  --selected-item-white: [object Object];
  --selected-item-orange: [object Object];
  --selected-item-blood-orange: [object Object];
      }